<a href="https://colab.research.google.com/github/LabsVelns/Python-Programming/blob/main/Excercise_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Q1 Write a Python program which accept the radius of a circle from the user and compute the area.

In [7]:
import math
x = int(input("Enter the radius of Circle ="))
pi = math.pi
print ("Area of Circle =",pi*x**2)

Enter the radius of Circle =2
Area of Circle = 12.566370614359172

###Q2 Temperature of a city in Fahrenheit degrees is input through the keyboard. Write a program to convert this temperature into Centigrade degrees.

In [9]:
x = float(input("Enter the Temperature = "))
print ("Temperature in Centigrade = ", (x-32) * 5/9)

Enter the Temperature = 5
Temperature in Centigrade =  -15.0

###Q3 Write a Python Program to make a simple calculator that can add, subtract, multiply and divide

In [14]:
a= float(input("Enter 1st number = "))
b= float(input("Enter 2nd number = "))
c = int(input(" 1.Addition \n 2.Substraction \n 3.Multiplication\n 4.Division\n"))
if (c==1):
  print(a+b)
elif (c==2):
  print(a-b)
elif (c==3):
  print(a*b)
elif(c==4) :
  print(a/b)
else :
  print("Invalid Input")

Enter 1st number = 1
Enter 2nd number = 9
 1.Addition
 2.Substraction
 3.Multiplication
 4.Division
1
10.0

###Q4 Write a Python Program to calculate the square root

In [15]:
import math 
x =float(input("Enter the Number = "))
print("Square Root of given number = ", math.sqrt(x))

Enter the Number = 36
Square Root of given number =  6.0

###Q5 Write a Python Program to Solve the quadratic equation ax**2 + bx + c = 0
###Coeffients a, b and c are provided by the user [Hint: import complex math module - import cmath]

In [18]:
import cmath
a= float(input("Enter the 1st Coefficient ="))
b= float(input("Enter the 2nd Coefficient ="))
c= float(input("Enter the 3rd Coefficient ="))
print("Squareroots of given quadratic equations are = ",(-b+cmath.sqrt(b**2 - 2*a*c))/2*a*c )

Enter the 1st Coefficient =5
Enter the 2nd Coefficient =36
Enter the 3rd Coefficient =48
Squareroots of given quadratic equations are =  (-892.1143542994319+0j)

###Q6 Write a Python Program to find the area of triangle Three sides of the triangle a, b and c are provided by the user

In [20]:
import cmath
a= float(input("Enter the 1st side ="))
b= float(input("Enter the 2nd side ="))
c= float(input("Enter the 3rd Side ="))
s = (a+c+b)/2
print("Area of Triangle =",cmath.sqrt(s*(s-a)*(s-b)*(s-c)))

Enter the 1st side =5
Enter the 2nd side =5
Enter the 3rd Side =5
Area of Triangle = (10.825317547305483+0j)

###Q7 If a five-digit number is input through the keyboard, write a program to calculate the sum of its digits without using any loop. (Hint: Use the modulus operator ‘%’)

In [26]:
x = int(input("Enter a 5 digit number = "))
num1 = x%10
num2 = x/10

num3 = num2%10
num4 = num2/10

num5 = num4%10
num6 = num4/10

num7 = num6%10
num8 = num6/10
num9 = num8%10

print("Sum of 5 digits of given number = %d" % (num1+num3+num5+num7+num9))

Enter a 5 digit number = 11111
Sum of 5 digits of given number = 5

###Q8 Write a Python program to print the following string in a specific format

In [27]:
print("Twinkle, twinkle, little star,\n\
\tHow I wonder what you are!\n\
\t\tUp above the world so high,\n\
\t\tLike a diamond in the sky\n\
Twinkle, twinkle, little star,\n\
\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky
Twinkle, twinkle, little star,
	How I wonder what you are!

###Q9 Write a Python program to display your details like name, age, address in three different lines.

In [30]:
print(" Name-Harshad Mane \n Age = 22 \n Address-Rahul Garden, Kaviltali, Chiplun")

 Name-Harshad Mane
 Age = 22
 Address-Rahul Garden, Kaviltali, Chiplun

###Q10 Create a string containing both a single quote and double quote

In [33]:
print("''")
print('""')

''
""

###Q11 Create a triple quoted string that contains single and double quotes.

In [35]:
print('''  ' "   ''')

  ' "

###Q12 Create a character, then obtain its integer representation.

In [45]:
a = input("Enter a Character = ")
b = print(ord(a))

Enter a Character = d
100

###Q13 Create a single string containing 5 copies of the string &#39;abc&#39;.

In [46]:
x = print("abc"*5)

abcabcabcabcabc

###Q14 Use the multiplication operator to create a &quot;line&quot; of 50 dashes.

In [47]:
print("-"*50)

--------------------------------------------------

###Q15 Convert a string to all upper case.

In [52]:
x = 'abc'
print (x.upper())

ABC

###Q16 : Write a Python program to get a string made of the first 2 and the last 2 chars from a given a string.

In [53]:
x = "CDAC NOIDA"
print(x[:2],x[-2:])

CD DA

###Q17: a Python program to get a string from a given string where all occurrences of its first char have been changed to |  except the first char itself.  Sample String : restart; Expected Result : resta|t;

In [59]:
x = input("Enter a string -")
y = x[1:]
z = y.replace(x[0],'$')
print(x[0]+ z)

Enter a string -cdac cdac cdac
cda$ $da$ $da$

###Q18: Write a Python program to get a single string from two given strings, separated by a space and swap the first two characters of each string.
###Sample String : 'abc','xyz' Expected Result : 'xyc abz'

In [61]:
x = input("Enter a string 1 - ")
y = input("Enter a string 2 - ")
print(y[:-1]+x[-1]+ " " +x[:-1]+y[-1])

Enter a string 1 - xyz
Enter a string 2 - abc
abz xyc